*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: #4d454e;
}

.clock{
   width: 350px;
   height: 350px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-size: cover;
   border-radius: 50%;
   z-index: 2;
}

.clock-img {
   position: absolute;
   z-index: 2;
   width: 350px;
   height: 350px;
   flex: 0 0 350px;
}

.clock:before{
   content: '';
   position: absolute;
   border-radius: 50%;
   z-index: 999;
   width: 35px;
   height: 35px;

   background-image: url(../img/js.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
}

.clock .hour,
.clock .min,
.clock .sec{
   position: absolute;
}

/* -- Стрелки -- */
.clock .hour, .hr{
   width: 160px;
   height: 160px;
}
.clock .min, .mn{
   width: 190px;
   height: 190px;
}
.clock .sec, .sc{
   width: 230px;
   height: 230px;
   z-index: 3;
}

.hr, .mn, .sc{
   display: flex;
   justify-content: center;
   position: absolute;
   border-radius: 50%;
}

.hr:before{
   content: '';
   position: absolute;
   width: 8px;
   height: 80px;
   background-color: #ffc600;
   z-index: 10;
   border-radius: 6px 6px 0 0;
}
.mn:before{
   content: '';
   position: absolute;
   width: 4px;
   height: 90px;
   background-color: #000;
   z-index: 11;
   border-radius: 6px 6px 0 0;
}
.sc:before{
   content: '';
   position: absolute;
   width: 2px;
   height: 150px;
   background-color: #000;
   z-index: 12;
   border-radius: 6px 6px 0 0;
}
/* /-- Стрелки -- */

/* -- Переменные -- */
:root {
   /* -- Цвета -- */
   --red: #ff8585;
   --green: #a5feb3;

   /* -- Время -- */
   --one-hour: var(--red) 0.00% 8.3%;
   --two-hour: var(--red) 8.3% 16.6%;
   --tree-hour: var(--green) 16.6% 24.9%;
   --four-hour: var(--green) 24.9% 33.2%;
   --five-hour: var(--green) 33.2% 41.5%;
   --six-hour: var(--red) 41.8% 50.1%;
   --seven-hour: var(--red) 50.1% 58.4%;
   --eight-hour: var(--red) 58.4% 66.7%;
   --nine-hour: var(--green) 66.7% 75.1%;
   --ten-hour: var(--green) 75.1% 83.4%;
   --eleven-hour: var(--green) 83.4% 91.7%;
   --twelve-hour: var(--red) 91.7% 100%;
}
/* -- /Переменные -- */


/* -- Диаграмма на часах -- */
#clock-chart__container {
   display: flex;
   align-items: center;
}

#clock-chart {  
   border-radius: 50%;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   z-index: 1;
   width: 350px;
   height: 350px;

   background: conic-gradient( 
      var(--one-hour), 
      var(--two-hour), 
      var(--tree-hour), 
      var(--four-hour), 
      var(--five-hour), 
      var(--six-hour), 
      var(--seven-hour), 
      var(--eight-hour), 
      var(--nine-hour), 
      var(--ten-hour), 
      var(--eleven-hour), 
      var(--twelve-hour) 
   );
}
/* -- /Диаграмма на часах -- */

 